.add-column-or-row {
  position: absolute;
  background-color: #1e90ff;
}

.add-column-or-row > button {
  cursor: pointer;
  background-color: dodgerblue;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-column-or-row > button:hover {
  background-color: rgb(27, 127, 226);
}

.add-column-or-row > button:active {
  background-color: rgb(21, 105, 190);
}
