.editor {
  /* fix */
  padding: 24px;
}

.editor-content {
}

.editor-contenteditable {
  width: 100%;
  height: 100%;
  min-height: 0;
  overflow-wrap: break-word;
  outline: none;
}

.block-paragraph {
  /* fix */
  text-align: center;
}

paragraph {
  line-height: 1.6;
}
