.ProseMirror {
  word-wrap: break-word;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;
}

.editor {
}

.editor-content {
  height: fit-content;
}

.editor-contenteditable {
  width: 100%;
  height: 100%;
  min-height: 0;
  /* review */
  padding-inline: 50px;
  outline: none;
  /* fix */
  background-color: beige;
}

/* <----------------------------------------------------------------------------------------------------------------------------------> */
