.ProseMirror {
  word-wrap: break-word;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;
}

.editor {
  /* fix */
  /* background-color: #4677cf; */
  /* padding: 12px; */
}

.editor-content {
  height: fit-content;
}

.editor-contenteditable {
  width: 100%;
  height: 100%;
  min-height: 0;
  outline: none;
}
