.editor {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.editor-content {
  width: 100%;
  height: 100%;
  min-height: fit-content;
  overflow-y: clip;
}

.editor-contenteditable {
  /* background-color: #faebd7; */
  width: 100%;
  height: 100%;
  min-height: 0;
  overflow-wrap: break-word;
  outline: none;
}

.block-paragraph {
  /* fix */
  /* text-align: center; */
}

paragraph {
  line-height: 1.6;
}
