.editor {
  /* fix */
  padding: 12px;
}

.editor-content {
  height: fit-content;
}

.editor-contenteditable {
  width: 100%;
  height: 100%;
  min-height: 0;
  overflow-wrap: break-word;
  word-break: break-word;
  outline: none;
}
