.ProseMirror {
  word-wrap: break-word;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;
}

.editor {
}

.editor-content {
  height: fit-content;
}

.editor-contenteditable {
  width: 100%;
  height: 100%;
  min-height: 0;
  /* review */
  padding-inline: 50px;
  outline: none;
  /* fix */
  background-color: beige;
}

/* <----------------------------------------------------------------------------------------------------------------------------------> */
.ProseMirror-selectednode {
  outline: 2px solid rgb(216, 88, 255);
}

.has-multi-block-selection ::selection {
  background: transparent;
}

.multi-block-selection {
  background-color: #1aff00 !important;
}

.ProseMirror-hideselection * {
  caret-color: blueviolet !important;
}

.woah {
  background-color: #00ffdd !important;
}
