.block-vTable {
  position: relative;
  background-color: #ffa600;
  padding: 12px !important;
  border-radius: 12px;
}

.table-wrapper {
  position: relative;
  overflow-x: auto;
}

tbody {
}

table {
  position: relative;
  border-collapse: collapse;
  table-layout: fixed;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.column-resizer {
  position: absolute;
  display: none;
  top: 0px;
  left: 150px;
  min-width: 7px;
  height: 100%;
  background-color: rgba(0, 0, 255, 0.35);
  z-index: 1000000;
  transform: translate(-3px, 0);
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}

.column-resizer:hover {
  cursor: col-resize;
}

.overlay-box {
  position: fixed;
  border: 3px solid #0000ff;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.column-button,
.row-button {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 900;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #000;
  z-index: 100;
  /* REVIEW: important */
  pointer-events: auto;
}

.column-button {
  transform: translateX(-50%) translateY(-50%);
  top: 1px;
  left: 50%;
  height: 3px;
  width: 24px;
  border-radius: 0px 0px 5px 5px;
}

.row-button {
  top: 50%;
  left: 1px;
  transform: translateX(-50%) translateY(-50%);
  height: 24px;
  width: 3px;
  border-radius: 0px 5px 5px 0px;
}

.column-button:hover,
.row-button:hover {
  background-color: #d4d7dd;
}

.cell-button {
  position: absolute;
  top: 1px;
  right: 1px;
  /* REVIEW: important */
  pointer-events: auto;
}

.cell-button > button {
  background-color: #ffca00;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 50%;
  border: 1px solid #000;
}

button[data-is-checked="true"] > svg {
  display: flex;
}

button[data-is-checked="false"] > svg {
  display: none;
}

.cell-btn_dropdown {
  position: absolute;
  top: calc(100% + 2px);
  background-color: #fff;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  padding: 12px 12px;
  gap: 8px;
}

.cell-btn_dropdown > button {
  background-color: #fff;
  outline: none;
  border: 1px solid #000;
  width: 140px;
  padding: 16px 8px;
}
