.whiteboard-wrapper {
  position: relative;
  background-color: #dcebfe;
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: hidden;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.whiteboard {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  z-index: 100;
  /* review: should I have this? Having this causes blurry text */
  /* will-change: transform; */
}
