::selection {
  /* background-color: transparent; */
}

.text-selection {
  /* background-color: #4bbaff48; */
  background-color: #ffe100;
  /* padding: 1px 0px 1px 0; */
  /* border-radius: 3px; */
}

.multi-selection {
  position: relative;
}

.multi-selection::after {
  /* fix: render differently based on the nodes */
  /* for example, on a table, I want it to appear like a border */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #cfd4e49e !important;
  width: 100%;
  height: 100%;
  border: 1px solid #9497a0;
  border-radius: 5px;
  /* pointer-events: none; */
}
