/* .block *::selection {
  background-color: transparent;
} */

/* .active-node *::selection {
  background-color: rgba(128, 128, 128, 0.249) !important;
} */

.block-paragraph.multi-selection {
  background-color: #00ff8484;
  border-radius: 5px;
}

.block-table.multi-selection {
  outline: 2px solid #000;
}

/* .multi-selection *::selection {
  background-color: transparent !important;
} */

/* .active-node::selection {
  background-color: Highlight !important;
} */

td[contenteditable="false"] {
  user-select: none;
}
