.block {
  padding: 4px;
  margin-bottom: 3px;
}

::selection {
  background-color: transparent;
}

.active-node *::selection {
  background-color: rgb(146, 212, 245);
}

mark *::selection {
  background-color: Highlight !important;
}

.multi-selection,
.multi-selection td {
  background-color: rgb(199, 208, 221);
}

.block.multi-selection {
  outline: 2px solid rgb(30, 120, 255);
  border-radius: 5px;
}

table,
tbody,
tr,
td {
  isolation: auto;
}

.active-cell::after {
  z-index: 2;
  position: absolute;
  content: "";
  inset: 0;
  background: #a1e1ff66;
  border-radius: 3px;
  pointer-events: none;
}
