.radial-menu {
  position: absolute;
  background-color: #f5f5f5;
  border: 1px solid #000;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transform: translate(-50%, -50%);
}

.radial-menu button {
  display: flex;
  gap: 8px;
  font-size: 16px;
  min-width: 180px;
  padding: 7px;
  cursor: pointer;
}

.radial-menu span {
  font-weight: 700;
  font-size: 16px;
}
