.content-verseWithCitation::before {
  display: flex;
  content: attr(data-verse-citation);
  font-size: var(--font-size);
  font-weight: 500;
  line-height: 1.6;
  min-width: fit-content;
  margin-right: 7px;
}
