.content-verseWithCitation::before {
  display: inline-block;
  content: attr(data-citation);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  min-width: fit-content;
  margin-right: 7px;
}
