.block-handle-menu {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 7px;
  width: 200px;
  border-radius: 3px;
  gap: 8px;
  position: absolute;
  top: 30px;
}

.block-handle-menu > button {
  font-size: 16px;
  font-weight: 400;
  padding: 12px;
}
