td {
  position: relative;
  font-size: 18px;
  font-weight: 300;
  background-color: #ffffff;
  border: 1px solid #475360;
  padding: 10px 12px;
  vertical-align: top;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
