.add-column-button {
  color: #fff;
  background-color: transparent;
  padding-top: 5px;
}

.add-column-button > button {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  background-color: #1c7aff;
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 7px 0;
  cursor: pointer;
}

.add-column-button:active > button {
  background-color: #1970ea;
}
