/* th {
  vertical-align: top;
  position: relative;
  font-weight: bold;
  text-align: left;
  background-color: #f3b2a6;
  padding: 10px 12px;
  border: 1px solid #475360;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}

th:hover {
  background-color: #d6a69d;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  overflow: hidden;
}

.column-resize-handle {
  position: absolute;
  right: -3px;
  top: 0;
  bottom: -2px;
  width: 5px;
  background-color: #6600ff75;
  pointer-events: none;
  z-index: 10000;
}

table .tableWrapper {
  overflow-x: auto;
}

.tableWrapper {
  position: relative;
  overflow: scroll;
  padding: 10px;
  background-color: #c4cfd9;
}

.column-button,
.row-button {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 900;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #000;
  z-index: 100;
}

.column-button {
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
  top: 0;
  left: 50%;
}

.row-button {
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.column-button:hover,
.row-button:hover {
  background-color: #d4d7dd;
}

.overlay-box {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.selectedCell {
  background-color: #7298fa !important;
} */
