.block-table {
  /* idea: or maybe I can just place the overflow here and the padding */
}

.content-table {
  position: relative;
}

.tableWrapper {
  position: relative;
  background-color: #ff8614;
  /* fix: no padding at the block level for table */
  /* review: the padding exists on the table wrapper level */
  padding: 4px;
  width: 100%;
  overflow: scroll;
}

table {
  position: relative;
  table-layout: fixed;
  border-collapse: collapse;
}

td,
th {
  position: relative;
  background-color: #c7ecb8;
  padding: 7px;
  border: 1px solid #000;
  vertical-align: top;
}

td.display-resizer .col-resizer {
  display: flex;
}

paragraph-item {
}

.resize-cursor {
  cursor: col-resize;
}

.column-resize-handle {
  position: absolute;
  top: 0;
  right: -2px;
  z-index: 100;
  background-color: #8b5600b1;
  width: 3px;
  height: 100%;
}

.selectedCell {
  background-color: bisque;
}

.single-selected-cell {
  background-color: indianred;
}
