.block-table {
}

.content-table {
  position: relative;
}

.tableWrapper {
  display: flex;
  position: relative;
  background-color: #ff8614;
  width: 100%;
  overflow: scroll;
}

table {
  position: relative;
  table-layout: fixed;
  border-collapse: collapse;
}

td,
th {
  position: relative;
  background-color: #c7ecb8;
  padding: 7px;
  border: 1px solid #000;
  vertical-align: top;
}

td.display-resizer .col-resizer {
  display: flex;
}

paragraph-item {
}

/*  */

.table-selection-box {
  display: none;
  position: absolute;
  z-index: 3;
  background-color: transparent;
  border: 2px solid #00d52eff;
  border-radius: 2px;
  transform: translate(0.5px, 0.5px);
  pointer-events: none;
}

.table-column-button {
  display: none;
  position: absolute;
  transform: translateX(-50%);
  width: 20px;
  height: 7px;
  border: 1px solid #000000;
  background-color: #fff;
  border-radius: 0px 0px 3px 3px;
  pointer-events: auto;
  z-index: 4;
}

.table-row-button-container {
  display: block;
  position: sticky;
  top: 0px;
  left: 0px;
  width: 0;
  z-index: 1000;
}

.table-row-button {
  display: none;
  position: relative;
  flex-shrink: 0;
  position: sticky;
  transform: translate(0px, -50%);
  width: 7px;
  height: 20px;
  border: 1px solid #000000;
  background-color: #fff;
  border-radius: 0px 3px 3px 0px;
  pointer-events: auto;
  z-index: 4;
}

.table-button:hover {
  cursor: pointer;
  background-color: #c7ecb8;
}

.resize-cursor {
  cursor: col-resize;
}

.column-resize-handle {
  position: absolute;
  top: 0;
  right: -2px;
  z-index: 100;
  background-color: #3bc600;
  width: 3px;
  height: 100%;
}

.selectedCell {
  background-color: bisque;
}

.single-selected-cell {
  background-color: indianred;
}

.cell-button {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: #fff;
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  border-radius: 50%;
  pointer-events: auto;
}

.cell-button:hover {
  cursor: pointer;
  background-color: #c7ecb8;
}
