.block-table {
}

.content-table {
  position: relative;
}

.tableWrapper {
  display: flex;
  position: relative;
  width: 100%;
  overflow: scroll;
  /* fix */
  /* border: 1px solid #0040ff; */
}

table {
  position: relative;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: #c5dde8;
}

td,
th {
  position: relative;
  padding: 12px;
  border: 1px solid #000;
  vertical-align: top;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

td.display-resizer .col-resizer {
  display: flex;
}

/* table tr > *:first-child {
  border-left: 0px solid transparent;
}

table tr > *:last-child {
  border-right: 0px solid transparent;
}

table tr:first-child > th,
table tr:first-child > td {
  border-top: 0px solid transparent;
}

table tr:last-child > th,
table tr:last-child > td {
  border-bottom: 0px solid transparent;
} */

paragraph-item {
}

/*  */

.table-selection-box {
  display: none;
  position: absolute;
  z-index: 3;
  background-color: transparent;
  border: 2px solid #002fff;
  border-radius: 2px;
  transform: translate(0.5px, 0.5px);
  pointer-events: none;
}

.table-column-button {
  display: none;
  position: absolute;
  transform: translateX(-50%);
  width: 20px;
  height: 7px;
  border: 1px solid #000000;
  background-color: #fff;
  border-radius: 0px 0px 3px 3px;
  pointer-events: auto;
  z-index: 4;
}

.table-row-button-container {
  display: block;
  position: sticky;
  top: 0px;
  left: 0px;
  width: 0;
  z-index: 5;
}

.table-row-button {
  display: none;
  position: relative;
  flex-shrink: 0;
  position: sticky;
  transform: translate(0px, -50%);
  width: 7px;
  height: 20px;
  border: 1px solid #000000;
  background-color: #fff;
  border-radius: 0px 3px 3px 0px;
  pointer-events: auto;
  z-index: 5;
}

.table-button:hover {
  cursor: pointer;
  background-color: #cedbf1;
}

.resize-cursor {
  cursor: col-resize;
}

.column-resize-handle {
  position: absolute;
  top: 0;
  right: -2px;
  z-index: 100;
  background-color: #003bc6;
  width: 3px;
  height: 100%;
}

.selectedCell {
  background-color: #59c1f9;
}

.cell-button {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: #fff;
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  border-radius: 50%;
  pointer-events: auto;
}

.cell-button:hover {
  cursor: pointer;
  background-color: #cedbf1;
}

.hidden-cell {
  background-color: #124fca;
}

.hidden-cell > * {
  visibility: hidden;
}

.hovered-cell_left::before {
  content: "";
  background-color: #ff0000;
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  z-index: 10000;
}

.hovered-cell_right::before {
  content: "";
  background-color: #ff0000;
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  z-index: 10000;
}

.hovered-cell_above::before {
  content: "";
  background-color: #ff0000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  z-index: 10000;
}

.hovered-cell_below::before {
  content: "";
  background-color: #ff0000;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  z-index: 10000;
}
