.contentWrapper {
  position: relative;
  border-right: 1px solid blue;
  border-left: 1px solid blue;
  border-radius: 0px;
}

.tableWrapper {
  position: relative;
  display: flex;
  overflow-x: scroll;
  border-radius: inherit;
}

table {
  position: relative;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: #c5dde8;
}

th {
  font-weight: 500;
  background-color: #e7eaf1;
  text-align: left;
}

td {
  background-color: #fff;
  font-weight: var(--font-weight);
}

td,
th {
  position: relative;
  padding: 12px;
  border: 1px solid #000;
  vertical-align: top;
  font-size: var(--font-size);
}

tr > *:first-child {
  border-left: none;
}

tr > *:last-child {
  border-right: none;
}

td.display-resizer .col-resizer {
  display: flex;
}

.table-selection-box {
  position: absolute;
  display: none;
  border: 2px solid blue;
  z-index: 1;
  pointer-events: none;
}

.table-cell-button {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 3px;
  right: 3px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #000;
  background-color: #fff;
  pointer-events: auto;
}

.table-cell-button:hover {
  background-color: #2fe0ff;
}

.table-cell-button:active {
  background-color: #22bed9;
}

.table-button {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  border: 1px solid blue;
  cursor: pointer;
}

.table-button:hover {
  background-color: #d0d2dc;
}

.table-button:active {
  background-color: #b5b8cb;
}

.table-column-button {
  width: 24px;
  height: 7px;
  transform: translateX(-50%);
}

.table-row-button {
  width: 7px;
  height: 24px;
  transform: translateY(-50%);
}

.selectedCell {
  background-color: #86beff;
}
