.block-handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: aqua;
  border: 1px solid #000;
  cursor: grab;
  user-select: none;
}

.block-handle:active {
  cursor: grabbing;
}
