.sidebar {
  background-color: #e6eaf3;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 7px;
  border-right: 1px solid #000;
}

.sidebar > button {
  cursor: pointer;
  background-color: #fff;
  font-size: 14px;
  padding: 12px;
  border: 3px solid #000;
  box-shadow: 3px 3px 0px #000;
}

.sidebar > button:hover {
  box-shadow: 3px 3px 0px #fff;
}
