.whiteboard-page {
  display: grid;
  grid-template-columns: 270px 1fr;
  grid-template-rows: calc(100vh - 84px);
  min-height: calc(100vh - 84px);
}

.main {
  display: flex;
  width: 100%;
  height: calc(100vh - 84px);
  padding: 12px;
  margin: auto;
}
