.whiteboard-page {
  display: grid;
  grid-template-columns: 270px 1fr;
  min-height: calc(100vh - 84px);
}

.sidebar {
  background-color: #fe5d2a;
}

.main {
  background-color: #ffae00;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 12px;
}
