.show-table-resizer .table-resizer {
  display: flex !important;
  justify-content: center;
}

.table-resizer {
  display: none;
  /* background-color: rgba(238, 130, 238, 0.606); */
  position: absolute;
  top: 0;
  width: 10px;
  height: 100%;
}

.table-resizer > div {
  background-color: #144bffbd;
  width: 4px;
  height: 100%;
}
