.block {
  /* background-color: #f9aba2; */
  /* padding: 2px 4px; */
  border-radius: 7px;
  /* margin-bottom: 2px; */
}

.content {
  vertical-align: middle;
}

paragraph,
blockquote,
verse,
verse-with-citation {
  display: block;
  font-size: 16px;
  line-height: 1.6;
}

heading1,
heading2,
heading3 {
  display: block;
  font-weight: 700;
  line-height: 1.2;
}

heading1 {
  font-size: 36px;
}

heading2 {
  font-size: 28px;
}

heading3 {
  font-size: 22px;
}

list-item {
  font-size: 16px;
  line-height: 1.6;
}

.content-bulletList {
  position: relative;
  display: inline-flex;
}

.content-bulletList::before {
  display: flex;
  justify-content: center;
  font-family: none;
  /* todo: make this a variable 통합*/
  font-size: 16px;
  width: fit-content;
  min-width: 28px;
  /* todo: make this a variable 통합*/
  line-height: 1.6;
}

.content-numberedList {
  position: relative;
  display: inline-flex;
}

.content-numberedList::before {
  display: flex;
  /* review: solution */
  flex-shrink: 0;
  /* todo: make this a variable 통합*/
  font-size: 16px;
  min-width: 24px;
  text-align: center;
  padding-left: 4px;
  margin-right: 4px;
  /* todo: make this a variable 통합*/
  line-height: 1.6;
}

blockquote {
  line-height: 1.6;
  padding-left: 12px;
  border-left: 3px solid #000;
}

.content-verse {
  position: relative;
  display: inline-flex;
}

.content-verseWithCitation {
  position: relative;
  display: inline-flex;
}

/*
div[data-indent-level="0"] {
  margin-left: 0px;
}

div[data-indent-level="1"] {
  margin-left: 30px;
}

div[data-indent-level="2"] {
  margin-left: 60px;
}

div[data-indent-level="3"] {
  margin-left: 90px;
}

div[data-indent-level="4"] {
  margin-left: 120px;
}

div[data-indent-level="5"] {
  margin-left: 150px;
}

div[data-indent-level="6"] {
  margin-left: 180px;
}

div[data-indent-level="7"] {
  margin-left: 210px;
}

div[data-indent-level="8"] {
  margin-left: 240px;
}

div[data-indent-level="9"] {
  margin-left: 270px;
}

div[data-indent-level="10"] {
  margin-left: 300px;
} 
*/
