.editor-page {
  display: flex;
  background-color: #87ceeb;
  min-height: calc(100vh - 84px);
}

.editor-node {
  background-color: #f2d6b3;
  width: 500px;
  height: 400px;
  margin: 70px auto auto auto;
}
