.content-checklist {
  position: relative;
  display: inline-flex;
}

.checkbox {
  display: flex;
  /* idea: this is great! */
  margin-top: calc(
    (var(--line-height) * var(--font-size) - var(--checkbox-width)) / 2
  );
  margin-right: 6px;
  border: 1px solid #000;
  border-radius: 5px;
}

.block-checklist[data-checkbox-status="complete"] svg {
  display: block;
}

.block-checklist[data-checkbox-status="incomplete"] svg {
  display: none;
}
