.content-checklist {
  position: relative;
  display: inline-flex;
}

.checkbox {
  display: flex;
  /* idea: this is great! */
  /* margin-top: calc((1.6 * 18px - 22px) / 2); */
  margin-top: calc(
    (var(--line-height) * var(--font-size) - var(--checkbox-width)) / 2
  );
  margin-right: 6px;
  border: 1px solid #000;
  border-radius: 5px;
}

.block-checklist[data-is-checked="true"] svg {
  display: block;
}

.block-checklist[data-is-checked="false"] svg {
  display: none;
}
