.navbar {
  background-color: #f3f5f9;
  display: flex;
  align-items: center;
  height: 84px;
  padding: 0 36px;
  border-bottom: 1px solid #000;
}

.navbar > h1 {
  color: #f5f5f5;
  background-color: #011754;
}

.navbar button {
  font-size: 16px;
  background-color: transparent;
  padding: 12px;
  margin-right: 7px;
  border: 1px solid transparent;
  border-radius: 7px;
  cursor: pointer;
}

.navbar button:hover {
  background-color: #e2ebefff;
}

.navbar_buttons {
  display: flex;
  margin-left: auto;
}
