.edit {
  --s: 450px;
  --p: 15px;
}

.edit i,
.edit::before {
  content: "";
  float: left;
  height: 100%;
  width: 50%;
  shape-outside: radial-gradient(
    farthest-side at right,
    transparent calc(100% - var(--p)),
    #fff 0
  );
}
.edit i {
  float: right;
  shape-outside: radial-gradient(
    farthest-side at left,
    transparent calc(100% - var(--p)),
    #fff 0
  );
}

.edit_p {
  text-align: center;
}
