.table-dropdown-menu {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 3px;
  background-color: #fa8072;
  padding: 7px;
  border-radius: 7px;
}

.table-dropdown-menu button {
  border: none;
  border-radius: 3px;
  padding: 10px;
  display: flex;
}
