*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "IBM Plex Mono", monospace; */
  /* font-family: -apple-system, Helvetica, Arial, sans-serif; */
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Playfair Display", serif; */
  font-family: "Outfit", sans-serif;
  /* font-family: "Google Sans", sans-serif; */
}

:root {
  --primary-bg-color: #ffdab9;
  --font-size: 18px;
  --font-weight: 300;
}

body {
  background-color: #dcebfe;
  text-rendering: optimizeLegibility;
}
