*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, Helvetica, Arial, sans-serif;
  font-family: "IBM Plex Mono", monospace;
  font-family: "Poppins", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Google Sans", sans-serif;
  font-family: "Outfit", sans-serif;
}

:root {
  --font-size: 18px;
  --font-weight: 300;
  --line-height: 1.6;
  --checkbox-edge-length: 22px;
}

body {
  background-color: #e5e9ef;
  text-rendering: optimizeLegibility;
}

.ProseMirror-selectednode {
  /* fix: remove this later, only for testing purposes */
  outline: 2px solid blue;
}

.portal {
  position: absolute;
  z-index: 999; /* Ensure this is higher than anything in .page */
  top: 0;
  left: 0;
  pointer-events: none; /* Let clicks pass through the container itself */
}

.portal > * {
  pointer-events: auto; /* Re-enable clicks for the actual menu items */
}
