*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "IBM Plex Mono", monospace; */
  /* font-family: -apple-system, Helvetica, Arial, sans-serif; */
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Playfair Display", serif; */
  font-family: "Outfit", sans-serif;
  /* font-family: "Google Sans", sans-serif; */
}

:root {
  --primary-bg-color: #ffdab9;
  --font-size: 18px;
  --font-weight: 300;
}

body {
  background-color: #e5e9ef;
  text-rendering: optimizeLegibility;
}

.portal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Let clicks pass through */
  z-index: 9999;
}

.portal > * {
  pointer-events: auto; /* Dropdowns are clickable */
}
