*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, Helvetica, Arial, sans-serif;
  font-family: "IBM Plex Mono", monospace;
  font-family: "Poppins", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Google Sans", sans-serif;
  font-family: "Outfit", sans-serif;
}

:root {
  --font-size: 18px;
  --font-weight: 300;
  --line-height: 1.6;
  --checkbox-edge-length: 22px;
  --bg-color-body: #e4e8ed;
  --bg-color-editor-content: #fff;
  --bg-color-block: #d2d7e3;
}

body {
  background-color: var(--bg-color-body);
  text-rendering: optimizeLegibility;
}

body[data-cursor="default"] {
  cursor: default;
}

body[data-cursor="marquee"] {
  cursor: crosshair;
}

body[data-cursor="drag-and-drop"] {
  /* fix: need to adjust this later */
  cursor: grab;
}

.page {
  display: grid;
  grid-template-columns: 250px 1fr;
}

.portal {
  position: absolute;
  z-index: 999; /* Ensure this is higher than anything in .page */
  top: 0;
  left: 0;
  pointer-events: none; /* Let clicks pass through the container itself */
}

.portal > * {
  pointer-events: auto; /* Re-enable clicks for the actual menu items */
}

.dnd-up-right {
  border-top: 2px solid blue;
}

.dnd-up-left {
  border-top: 2px solid red;
}

.dnd-down-right {
  border-bottom: 2px solid blue;
}

.dnd-down-left {
  border-bottom: 2px solid red;
}
