.content-bulletList {
  --size: 14px;
  --line-height-ratio: 1.6;

  align-items: flex-start;
}

.content-bulletList::before {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  min-width: 30px;
  padding-top: calc(
    (var(--size) * var(--line-height-ratio) - var(--size) + 5px) / 2
  );
  pointer-events: none;
}

.block-bulletList[data-indent-level="0"] .content::before,
.block-bulletList[data-indent-level="3"] .content::before,
.block-bulletList[data-indent-level="6"] .content::before,
.block-bulletList[data-indent-level="9"] .content::before,
.block-bulletList[data-indent-level="12"] .content::before {
  content: "●";
}

.block-bulletList[data-indent-level="1"] .content::before,
.block-bulletList[data-indent-level="4"] .content::before,
.block-bulletList[data-indent-level="7"] .content::before,
.block-bulletList[data-indent-level="10"] .content::before {
  content: "○";
}

.block-bulletList[data-indent-level="2"] .content::before,
.block-bulletList[data-indent-level="5"] .content::before,
.block-bulletList[data-indent-level="8"] .content::before,
.block-bulletList[data-indent-level="11"] .content::before {
  content: "■";
}
