.active-table .selection-box,
.active-table .column-button,
.active-table .row-button {
  display: flex;
}

.active-cell::after {
  content: "";
  position: absolute;
  background-color: #0033ff7d;
  pointer-events: none;
  inset: 0;
  z-index: 2;
}

.selection-box {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid #47d4ff;
  transform: translate(-1px, -1px);
  z-index: 1;
  pointer-events: none;
}

.column-button {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 7px;
  transform: translateX(-50%);
  z-index: 10;
  cursor: pointer;
}

.row-button {
  display: none;
  position: absolute;
  width: 7px;
  height: 24px;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

.cell-selecting .tableWrapper {
  overflow: hidden;
}
