.ProseMirror {
  word-wrap: break-word;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;
}

.editor-section {
  grid-column: 2 / 3;
  min-height: 100vh;
  overflow-x: hidden;

  /* fix: maybe this is causing some issue? */
  /* fix: I can't remember what this was for */
  /* overscroll-behavior: none; */
}

.editor {
  display: flex;
  flex-direction: column;
  width: 900px;
  height: fit-content;
  margin: 70px auto;
}

.editor-content {
}

.editor-contenteditable {
  background-color: #c7cdd8;
  outline: none;
  padding-inline: 50px;
}
