.block-table {
  max-width: fit-content;
  border: 1px solid #2264ff;
}

.block-table[data-indent-level="0"] {
  width: calc(100% - 0px);
}
.block-table[data-indent-level="1"] {
  width: calc(100% - 30px);
}
.block-table[data-indent-level="2"] {
  width: calc(100% - 60px);
}
.block-table[data-indent-level="3"] {
  width: calc(100% - 90px);
}
.block-table[data-indent-level="4"] {
  width: calc(100% - 120px);
}
.block-table[data-indent-level="5"] {
  width: calc(100% - 150px);
}
.block-table[data-indent-level="6"] {
  width: calc(100% - 180px);
}
.block-table[data-indent-level="7"] {
  width: calc(100% - 210px);
}
.block-table[data-indent-level="8"] {
  width: calc(100% - 240px);
}
.block-table[data-indent-level="9"] {
  width: calc(100% - 270px);
}
.block-table[data-indent-level="10"] {
  width: calc(100% - 300px);
}
.block-table[data-indent-level="11"] {
  width: calc(100% - 330px);
}
.block-table[data-indent-level="12"] {
  width: calc(100% - 360px);
}

.content-table {
  width: 100%;
}

.contentWrapper {
  position: relative;
  width: inherit;
}

.tableWrapper {
  position: relative;
  display: flex;
  width: inherit;
  border-radius: inherit;
  overflow-x: scroll;

  /* Hides the scrollbar for Chromium-based browsers (Chrome, Edge, Electron) */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Optional: Hides it for Firefox if your app runs outside of Electron too */
  scrollbar-width: none;
}

table {
  position: relative;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: #c5dde8;
}

th {
  font-weight: 500;
  background-color: #e7eaf1;
  text-align: left;
}

td {
  background-color: #fff;
  font-weight: var(--font-weight);
}

td,
th {
  position: relative;
  padding: 12px;
  border: 1px solid #000;
  vertical-align: top;
  font-size: var(--font-size);
}

tbody > tr:first-child th,
tbody > tr:first-child td {
  border-top: none;
}

tbody > tr:last-child th,
tbody > tr:last-child td {
  border-bottom: none;
}

tbody > tr th:first-child,
tbody > tr td:first-child {
  border-left: none;
}

tbody > tr th:last-child,
tbody > tr td:last-child {
  border-right: none;
}

table-item {
  display: block;
}
