.content-checklist {
  position: relative;
  display: inline-flex;
}

.checkbox {
  display: block;
  margin-top: 1.8px;
  margin-right: 6px;
  border: 1px solid #000;
  border-radius: 5px;
}

.block-checklist[data-is-checked="true"] svg {
  display: block;
}

.block-checklist[data-is-checked="false"] svg {
  display: none;
}
